.fade { 
    background-color: rgba(0, 0, 0, 0.836); 
}
.ModalH {
    background-color: var(--main);
    overflow: hidden;
    padding: 0;
}
.ModalB {
    background-color: var(--white);
}
.ModalF {
    background-color: var(--white);
}
.Modalbuttons {
    height: 40px;
    width: 80px;
    background-color: #660033;
    border: none;
    color: var(--white);
}
.Modalbuttons:hover {
    background-color: #330066;
}
.ModalLi {
    color: var(--dark);
}
.ModalImg {
    width: 100%;
    height: auto;
}
.ModalLi {
    padding: 5px;
}